---
layout: default

link: Tell them to release their diversity data
tweet: Diversity is important, @TWITTERHANDLE. Please make your employee demographics public!

link_progress: Thank them for working on publishing their diversity data
tweet_progress: Thanks for working on releasing your diversity data, @TWITTERHANDLE!

link_success: Thank them!
tweet_success: Thanks for publishing your diversity data, @TWITTERHANDLE!

link_update: Tell them to update
tweet_update: Your diversity data was last updated in YEAR, @TWITTERHANDLE. Please update it!

hash: DiversityData
---

{% for section in site.data.main.sections %}
  {% include table.html %}
{% endfor %}

